body{
    text-align: center;
}
header{
    background: #ADDA90 url("phone_book.png") no-repeat center;
    background-size: 150px 100px;
    margin: -5px 0px -20px 0px;
    padding: 0px 0px 135px 0px;
}
#container{
    padding: 15px 0px 148px 0px;
}
form{
    margin: 0px 0px 15px 0px;
}
footer{
    background: #ADDA90;
    padding: 30px 0px 30px 0px;
}