body{
    text-align: center;
}
header{
    background: #ADDA90 url("phone_book.png") no-repeat center;
    background-size: 150px 100px;
    margin: -5px 0px -20px 0px;
    padding: 0px 0px 135px 0px;
}
#container{
    padding: 20px 0px 444px 0px;
}
table#width{
    width: 70%;
}
td{
    text-align:left;
}
footer{
    background: #ADDA90;
    padding: 50px 0px 50px 0px;
}
