{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'contact_web_app/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'contact_web_app/foundation.css' %}"/>
    <link rel="shortcut icon" href="{% static 'contact_web_app/phone_book_icon.png' %}"/>
    {% block styling %}
    {% endblock styling %}
</head>
<body>
    <header><h1>Telephone Directory</h1></header>
    <div id="container">
        {% block content %}
        {% endblock content %}
    </div>
    <footer><h4>Copyrights@TeamYellow</h4></footer>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>