{% extends "contact_web_app/base.html" %}

{% load static %}

{% block title %}
    Delete contact
{% endblock title %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'contact_web_app/delete_contact.css' %}"/>
{% endblock styling %}

{% block content %}
    <h1>Delete Contact</h1>
    <div class="row">
        <form id="myForm" class="small-11 small-centered medium-6 medium-centered large-6 large-centered columns"
              action="{% url 'contact_web_app.views.delete_contact' %}" method="post">{% csrf_token %}
            <div class="row">
                <div class="small-3 columns">
                    <label for="phone" class="right inline">Phone No:</label>
                </div>
                <div class="small-7 columns">
                    <input id="phone" type="text" name="phone_no"/>
                    <p id="message" style="color:red;"></p>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <p><input id="btn1" class="button small" type="button" value="Submit"/></p>
        </form>
    </div>
    <a class="button small" href="/">Home</a>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'contact_web_app/modernizr.js' %}"></script>
    <script src="{% static 'contact_web_app/jquery.js' %}"></script>
    <script src="{% static 'contact_web_app/fastclick.js' %}"></script>
    <script src="{% static 'contact_web_app/foundation.min.js' %}"></script>
    <script src="{% static 'contact_web_app/delete_contact.js' %}"></script>
{% endblock javascript %}
