{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Contact</title>
    <link rel="stylesheet" href="{% static 'contact_web_app/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'contact_web_app/foundation.css' %}"/>
    <link rel="stylesheet" href="{% static 'contact_web_app/get_contact.css' %}"/>
    <script src="{% static 'contact_web_app/modernizr.js' %}"></script>
</head>
<body>
    <header>
        <h1>Telephone Directory</h1>
    </header>
    <div id="main_div">
        <h1>Get Contact</h1>
        <form id="myForm" action="{% url 'contact_web_app.views.get_contact' %}" method="post" data-abide>
            {% csrf_token %}
            <div class="row">
                <div class="small-3 columns">
                    <label for="phone" class="right inline">Phone No:</label>
                </div>
                <div class="small-7 columns">
                    <input id="phone" type="text" name="phone_no" pattern="\b[7-9]([0-9]){9}\b" required/>
                    <small class="error">Required and should be valid!</small>
                    <p id="message" style="color:red;"></p>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <p><input id="btn1" class="button small" type="submit" value="Submit"/></p>
            {% if message %}
                <h6 style="color:red;">{{ message }}</h6>
            {% endif %}
        </form>
        <a class="button small" href="/">Home</a>
    </div>
    <footer><h4>Copyrights@TeamYellow</h4></footer>
    <script src="{% static 'contact_web_app/jquery.js' %}"></script>
    <script src="{% static 'contact_web_app/fastclick.js' %}"></script>
    <script src="{% static 'contact_web_app/foundation.min.js' %}"></script>
    <script src="{% static 'contact_web_app/get_contact.js' %}"></script>
</body>
</html>