{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Contacts by Provider</title>
    <link rel="stylesheet" href="{% static 'contact_web_app/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'contact_web_app/foundation.css' %}"/>
    <link rel="stylesheet" href="{% static 'contact_web_app/get_contacts_by_provider.css' %}"/>
    <script src="{% static 'contact_web_app/modernizr.js' %}"></script>
</head>
<body>
    <header>
        <h1>Telephone Directory</h1>
    </header>
    <div id="main_div">
        <h1>Get contacts by Provider</h1>
        <form id="myForm" action="{% url 'contact_web_app.views.get_contacts_by_provider' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="small-3 columns"></div>
                <div class="small-6 columns">
                    <select id="provider" name="provider">
                        <option value="select provider" selected="selected">Select Provider</option>
                        <option value="Airtel">Airtel</option>
                        <option value="BSNL">BSNL</option>
                        <option value="Idea">Idea</option>
                        <option value="Reliance">Reliance</option>
                    </select>
                </div>
                <div class="small-3 columns"></div>
            </div>
            <input id="btn1" class="button small" type="button" value="Submit"/>
            <p id="message" style="color:red;"></p>
        </form>
        <a class="button small" href="/">Home</a>
    </div>
    <footer><h4>Copyrights@TeamYellow</h4></footer>
    <script src="{% static 'contact_web_app/jquery.js' %}"></script>
    <script src="{% static 'contact_web_app/fastclick.js' %}"></script>
    <script src="{% static 'contact_web_app/foundation.min.js' %}"></script>
    <script src="{% static 'contact_web_app/get_contacts_by_provider.js' %}"></script>
</body>
</html>